In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

from pyspark.sql.types import *
import pyspark.sql.types as spark_types

import utils

spark = SparkSession.builder.master("spark://vm1:7077").appName("Cluster Code - Zafar").getOrCreate()

In [2]:
# Testing to see if everything is okay
commits = utils.read_csv(spark, "hdfs:/commits_new.csv")
commits.limit(10).show()

+---+---------+------------+----------+-------------------+
| id|author_id|committer_id|project_id|         created_at|
+---+---------+------------+----------+-------------------+
|  1|        1|           1|         1|2012-08-01 20:33:21|
|  2|        2|           2|         1|2012-08-01 13:25:36|
|  3|        2|           2|         1|2012-06-18 03:39:30|
|  4|        2|           2|         1|2012-06-11 07:47:16|
|  5|        2|           2|         1|2012-06-11 07:45:07|
|  6|        2|           2|         1|2012-05-07 06:00:56|
|  7|        2|           2|         1|2012-03-08 04:47:19|
|  8|        2|           2|         1|2012-03-08 04:40:43|
|  9|        2|           2|         1|2012-03-08 04:40:25|
| 10|        2|           2|         1|2012-03-08 04:24:22|
+---+---------+------------+----------+-------------------+

### Number of source & fork repositories of users (shouldn't be run again)

In [5]:
projects =  utils.read_csv(spark, "hdfs:/projects.csv", "projects_new.csv")

# This file has now been replaced with a new version
user_more =  utils.read_csv(spark, "hdfs:/user_more.csv")

# Find source repos
df4 = (
    projects
    .where((projects.deleted == 0) & (projects.forked_from.isNull()))
    .groupby("owner_id")
    .count()
    .withColumnRenamed("count", "repos_source")
    .withColumnRenamed("owner_id", "user_id")
)

# Find forks
df6 = (
    projects
    .where((projects.deleted == 0) & (projects.forked_from.isNotNull()))
    .groupby("owner_id")
    .count()
    .withColumnRenamed("count", "repos_forks")
    .withColumnRenamed("owner_id", "user_id")
)

# Join Data
df5 = user_more.join(df4, "user_id", "full").join(df6, "user_id", "full")

# Write to local directorya
df5.write.csv(
    "/user_more_2",
    mode="overwrite",
    nullValue="\\N"
)

### Issue Punchcard

In [5]:
issues = utils.read_csv(spark, "hdfs:/issues.csv")

df5 = (
    issues
    .where(
        issues.created_at.isNotNull()
    )
    .select(
        F.year('created_at').alias('year'), 
        F.month('created_at').alias('month'), 
        F.dayofmonth('created_at').alias('day'), 
        F.hour('created_at').alias('hour')
    )
   .groupBy('year', 'month', 'day', 'hour')
   .count()
)

df5.limit(10).show()

# df5.explain()
# df5.coalesce(1).write.json("hdfs:/issue_punchcard")

+----+-----+----+----+--------+
|year|month| day|hour|   count|
+----+-----+----+----+--------+
|null| null|null|null|54086297|
+----+-----+----+----+--------+

### Number of Commits of each user

In [15]:
commits = utils.read_csv(spark, "hdfs:/commits_new.csv")

res = (
    commits
    .groupby("author_id")
    .count()
    .withColumnRenamed("count", "commits_authored")
    .withColumnRenamed("author_id", "user_id")
)

res.write.csv(
    "hdfs:/user_commit_count",
    mode="overwrite",
    nullValue="\\N"
)

### Number of Commits of every project

In [16]:
# commits = utils.read_csv(spark, "hdfs:/commits_new.csv")

res = (
    commits
    .groupby("project_id")
    .count()
    .withColumnRenamed("count", "total_commits")
)

res.write.csv(
    "hdfs:/project_commit_count",
#     mode="overwrite",
    nullValue="\\N"
)

### Number of Commits on a project not authored by Owner

In [17]:
commits = utils.read_csv(spark, "hdfs:/commits_new.csv")
projects = utils.read_csv(spark, "hdfs:/projects_new.csv")

commits.createOrReplaceTempView("commits")
projects.createOrReplaceTempView("projects")

q = """
    SELECT C.project_id as project_id, COUNT(*) as total_commits_by_others
    FROM commits as C, projects as P
    WHERE C.project_id = P.id
    AND C.author_id <> P.owner_id
    GROUP BY C.project_id
"""

res = spark.sql(q)

res.write.csv(
    "hdfs:/project_commit_others_count",
#     mode="overwrite",
    nullValue="\\N"
)

### Number of commits of a user made on repositories not owned by them

In [18]:
q = """
    SELECT C.author_id as user_id, 
           COUNT(*) as total_commits_on_other_repos

    FROM commits as C, projects as P

    WHERE C.project_id = P.id
    AND C.author_id <> P.owner_id

    GROUP BY C.author_id
"""

res = spark.sql(q)

res.write.csv(
    "hdfs:/user_commit_others_count",
#     mode="overwrite",
    nullValue="\\N"
)

### "Top" Users

In [24]:
users_more = utils.read_csv(spark, "hdfs:/users_more.csv")
users = utils.read_csv(spark, "hdfs:/users.csv")

users = (
    users
    .where(
          (users.type == "USR")
        & (users.deleted == 0)
        & (users.fake == 0)
    )
    .withColumnRenamed("id", "user_id")
    .select("user_id", "login", "company")
)

user_new = users.join(users_more, "user_id", "left")

top = (
    user_new
#     .orderBy("followers", ascending=False)
    .orderBy("has_stars", ascending=False)
)

top.show(50)

+-------+-------------+--------------------+---------+---------+-------+------------+-----------+---------+---------------+------+-----+-------+--------------+
|user_id|        login|             company|following|followers|starred|repos_source|repos_forks|has_stars|contributess_to|issues|pulls|commits|commits_others|
+-------+-------------+--------------------+---------+---------+-------+------------+-----------+---------+---------------+------+-----+-------+--------------+
|   3871| sindresorhus|@avajs @chalk @ye...|      188|    15755|   2274|         974|        142|   226099|            565|  3080|  108|  26326|          8341|
|6498757| FreeCodeCamp|                null|        1|      110|      6|          95|          5|   214583|           null|     1| null|     18|          null|
| 376498|           Tj|                Apex|      175|    25827|    966|         238|         81|   114326|            138|   873| null|   4922|          3539|
| 234594|       docker|                null|        5|        3|      8|         121|         10|   109060|              1|     1| null|     12|          null|
|    896|  JakeWharton|        Square, Inc.|       24|    30161|    261|          86|         24|    82059|             58|  1125|  168|  16014|         11195|
|    796| kennethreitz|              Heroku|      224|    13360|    919|         119|         37|    76984|            105|   473|   41|  12559|          6860|
|   1199|     substack|    bits cooperative|      238|    11397|    277|         771|        195|    74744|            223|   291|   43|  19767|          4870|
|  17717|       getify|    Getify Solutions|        9|     6360|    254|          44|          5|    73675|             15|   437|    4|   3116|           155|
| 274322|          vhf|                null|       50|     2449|    531|          63|         69|    73353|             35|   135|    9|   5234|          1426|
| 215522|     Yalantis|                null|        4|     null|      4|          65|          2|    68689|           null|  null| null|   null|          null|
|   1954|  visionmedia|                null|      157|    11714|    624|         160|         63|    67825|             80|  2343|   40|  29853|         22294|
|1123322|        Apple|                null|     null|        7|   null|          37|          1|    66930|           null|  null| null|   null|          null|
|  15119| robbyrussell|   Planet Argon, LLC|       33|     1933|     50|           8|         26|    62104|             18|    39| null|   2108|          1122|
| 667293|       nodejs|                null|     null|       21|   null|         158|          9|    59809|           null|  null| null|   null|          null|
|3752431|  donnemartin|                null|        9|     1072|    976|          37|          5|    58763|              7|   176|    3|   4597|           458|
| 293854|         Zeit|                null|        2|     null|   null|          64|          3|    57722|           null|  null| null|   null|          null|
|   6240|   addyosmani|              Google|      243|    24604|    522|         147|        154|    55154|            308|  1195|   36|  10762|          6865|
| 417948|      gaearon|            Facebook|      177|    13007|   1172|          59|        177|    53475|             69|  1079|   38|  10576|          5387|
|2205410|kamranahmedse|             tajawal|       65|      177|    569|          43|         13|    50494|             16|    43| null|   1610|           187|
|2813904|      jwasham|                null|        7|      805|     80|          31|          7|    49707|              1|    15| null|   1157|           149|
|1147949|     wasabeef|    CyberAgent, Inc.|       41|     3341|    819|          22|          7|    49650|              6|     6| null|   1495|           153|
|   3816|      daneden|            Facebook|      101|     3738|     61|          45|         10|    49553|             18|    30|    2|   2409|           459|
|   7125|    jashkenas|The New York Time...|     null|    11410|      6|          17|       null|    49270|             24|    91|    1|  10622|          9589|
|1963067|      tencent|                null|     null|       14|      5|          38|          2|    48844|           null|  null| null|      2|             2|
|2629032|     typicode|                null|     null|     1014|    166|          29|         19|    47616|             11|    33|    1|   3626|            94|
|   5260|      antirez|          Redis Labs|        2|     7215|     41|          54|          3|    47226|             13|   185| null|  12361|          5178|
| 204125|      elastic|                null|        6|        9|     20|         187|         19|    46946|              6|  null| null|     19|             9|
|   5203|     torvalds|    Linux Foundation|     null|    52722|      1|           5|          2|    46605|            105|     1| null|  48823|         39566|
| 616741|       ruanyf|                null|     null|    14701|    124|          36|         12|    45361|             11|     4|    1|   4619|           390|
|  13009|     mbostock|                null|       13|    14928|     29|          53|         18|    44739|             35|  1284|  137|  15904|         11370|
|   2532|       mrdoob|                null|      110|     9651|     75|          32|         17|    44493|             31|   115|   11|  12837|          3234|
|  10227|       feross|Study Notes, WebT...|      199|     5577|    854|         163|        153|    43445|            155|  1582|   13|  17300|          2083|
| 129526|     bevacqua| JavaScript @elastic|      176|     2954|    339|         186|        102|    42447|             62|   201|    6|  14245|          3267|
|   6258|      necolas|             Twitter|       27|     5799|    289|          31|         34|    42179|             70|  1079|   31|   4322|          2596|
| 139710|    toddmotto|Telerik, Ultimate...|       43|     3272|    133|          59|         23|    41596|             37|    50|    6|   3454|          1319|
|  10321|      blueimp|         blueimp.net|     null|     3237|     27|          52|          6|    40990|              9|    11|    1|   4155|          1839|
|   2163|      hakimel|              Slides|       30|     7760|     54|          21|          3|    40870|             16|    42| null|   2216|           778|
|   8293|        spf13|             @Google|       81|     2905|    572|          35|         54|    40784|             54|    68|    4|   1938|           466|
|  43814|    justjavac|    @Flarum-Chinese |      129|     5685|    728|          34|         25|    40403|             13|   118| null|   3014|           415|
| 490958|       jekyll|                null|     null|     null|   null|          53|       null|    40031|           null|  null| null|   null|          null|
|2574738|        vinta|       @StreetVoice |      122|     1512|   1958|          26|         18|    39832|             10|   188| null|   2239|           194|
|   3569|    mitsuhiko|                null|       21|     8801|     52|         138|         55|    38750|             50|   478|   15|  13938|          8735|
| 122176|      astaxie|               Apple|       18|     6334|    100|          34|         40|    37919|             36|    62|    1|   5121|          2264|
|1279090|        Realm|                null|     null|     null|   null|          31|          5|    37826|           null|  null| null|   null|          null|
| 501475|        jlevy|                null|       87|      684|    885|           8|         13|    37551|              3|   181|    2|   1144|           391|
|  11213| nicklockwood|     Charcoal Design|     null|     4179|     32|          64|         23|    37365|             20|    13|    2|   3519|          1750|
|  76839|     Firebase|                null|        8|       39|     10|         147|         20|    37320|              1|  null| null|   null|          null|
|   5823|        tpope|                null|       25|     9149|     19|          80|          9|    36680|             18|    55|   18|   5895|          2683|
|   1570|      defunkt|            @github |      230|    18522|    139|          78|         29|    36487|             61|   170|    6|   5068|          4073|
|3582041|     electron|                null|     null|     null|   null|          55|          1|    35206|           null|  null| null|      2|          null|
+-------+-------------+--------------------+---------+---------+-------+------------+-----------+---------+---------------+------+-----+-------+--------------+
only showing top 50 rows

### "Top" Users from India

In [34]:
users_more = utils.read_csv(spark, "hdfs:/users_more.csv")
users = utils.read_csv(spark, "hdfs:/users.csv")

users = (
    users
    .where(
          (users.type == "USR")
        & (users.deleted == 0)
        & (users.fake == 0)
        & (users.country_code == "in")
    )
    .withColumnRenamed("id", "user_id")
    .select("user_id", "login", "company", "state", "city")
)

users_more = (
    users_more
    .select("user_id", "followers", "has_stars", "contributes_to", "issues", "pulls", "commits", "commits_others")
)

user_new = (
    users
    .join(users_more, "user_id", "left")
)

top = (
    user_new
#     .orderBy("followers", ascending=False)
    .orderBy("has_stars", ascending=False)
#     .orderBy("contributes_to", ascending=False)
)

top.show(50)

+--------+-----------------+--------------------+--------------+---------+---------+---------+--------------+------+-----+-------+--------------+
| user_id|            login|             company|         state|     city|followers|has_stars|contributes_to|issues|pulls|commits|commits_others|
+--------+-----------------+--------------------+--------------+---------+---------+---------+--------------+------+-----+-------+--------------+
|   23402|          hemanth|             @paypal|          null|     null|     1209|    14032|           148|   505|   39|   5212|          1420|
| 6310255|amitshekhariitbhu|          Bobble App|         Delhi|New Delhi|      311|    10360|             7|    10| null|   1581|           509|
| 3408218|    sachinchoolur|Available for New...|     Karnataka|Bengaluru|      255|     9799|             3|     1|    1|    901|            53|
|  163695|        chinchang|           @wingify |         Delhi|    Delhi|      468|     9326|             9|   136|    2|   1647|           245|
| 5769465|          nisrulz|      @omnilabs-inc |       Haryana|  Gurgaon|      320|     8024|             1|    47|    2|   2788|           278|
| 6559743|        aritraroy|                null|          null|     null|      189|     8005|          null|    32| null|    285|             5|
| 1343504|        sameersbn|                null|           Goa|     null|      582|     7706|            23|    69|   10|  15917|          4680|
| 6880792|   kailashahirwar|                null|     Karnataka|Bengaluru|        4|     7206|          null|  null| null|     45|            14|
| 5107602|           iCHAIT|                null|          null|     null|      129|     7143|             5|    53|    8|   1363|           498|
| 2600239|      dhamaniasad|                null|   Maharashtra|   Nagpur|       72|     7089|            39|    41| null|   1325|           173|
| 5540963|          naman14|                null|         Delhi|New Delhi|      466|     6818|             5|     5|    1|   1320|           453|
|   26271|         sitaramc|                null|Andhra Pradesh|Hyderabad|      335|     6306|             5|    12| null|   2171|           899|
|   39721|    threepointone|                null|     Karnataka|Bengaluru|      346|     5445|            14|   167|    3|   2648|           194|
|  300567|      siddharthkp|                null|     Karnataka|Bengaluru|       46|     5287|            13|   137|    1|   2398|           133|
|  428875|       kovidgoyal|                null|   Maharashtra|   Mumbai|      244|     4978|             4|    62|   16|  29601|          3899|
| 6131656|            adtac|                null|    Tamil Nadu|  Chennai|        9|     4866|             1|   209|    3|   2040|          1214|
| 2940742|            jarun|                null|     Karnataka|Bengaluru|      117|     4462|             1|    64| null|   3455|            78|
| 8541687|       metagrover|           TAKE ZERO|          null|     null|       65|     3998|             4|    61| null|   1466|          1431|
| 2822668|            ghosh|           Cleartrip|     Karnataka|Bengaluru|      102|     3967|             9|    23|    1|   1104|           104|
|  981089|         rishabhp|                null|          null|     null|      126|     3897|             1|    26| null|    536|           428|
|30680352|      OmkarPathak|                null|   Maharashtra|     Pune|     null|     2968|          null|     5| null|    719|            13|
| 2566115|           webkul|              WebKul| Uttar Pradesh|    Noida|       11|     2917|             3|     3| null|    126|             8|
|   66055|  ragunathjawahar|        Mobs & Geeks|    Tamil Nadu|  Chennai|      317|     2899|            10|    33| null|    761|           244|
|   74479|         HashNuke|                null|     Karnataka|Bengaluru|      276|     2765|            35|    92|    4|   4985|          1123|
|11739754|          nitin42|                null|          null|Dehra Dun|       12|     2688|             1|    43|    1|   2475|            42|
| 5644707|    princejwesley|@nodejs Core Coll...|    Tamil Nadu|  Chennai|      123|     2651|             7|    29|    1|   1191|           170|
| 1897977|      ajinabraham|        OpenSecurity|     Karnataka|Bengaluru|      418|     2464|            21|    87|    1|    912|           238|
| 8786853| developer-shivam|                null|         Delhi|New Delhi|       19|     2449|             4|  null| null|    434|            17|
| 5787841|      Ashok-Varma|           ClearTrip|          null|     null|       55|     2437|          null|    18| null|    234|             2|
| 8392485|          hanc00l|                null|        Odisha|  Cuttack|      162|     2335|          null|     3| null|     24|             3|
| 2446188|          yask123|          @Flipkart |         Delhi|New Delhi|      324|     2173|             7|   101| null|   2833|            43|
| 9555236|    farizrahman4u|         @datalogai |          null|     null|      125|     2172|             4|    23|    1|   1352|           315|
|  274435|           satyan|                null|     Karnataka|Bengaluru|       84|     2153|             3|     8| null|    145|            53|
| 7721759|   TakeoffAndroid|             Takeoff|    Tamil Nadu|  Chennai|      112|     2136|             1|    18| null|    294|             2|
|  338585|      Manishearth|           @mozilla |   Maharashtra|   Mumbai|      459|     2008|           116|   714|   91|  11765|          4401|
|10007129|     ironmaniiith|https://www.youtu...|Andhra Pradesh|Hyderabad|       47|     1989|             3|    44|    2|  43279|           322|
| 1942872|    varshylmobile|Varshyl Mobile Pv...|          null|     null|      138|     1977|            21|     1|    1|    153|          null|
| 3692893|          ritz078|         Housing.com|   Maharashtra|   Mumbai|       91|     1966|             9|   148|    4|   2543|           271|
| 7391618|          sharish|                null|    Tamil Nadu|  Chennai|       64|     1965|          null|     1| null|     65|            19|
| 3097802|        bitshadow|                null|     Karnataka|Bengaluru|       69|     1940|             4|    13|    1|    340|           104|
| 3475919|       debugger22|  BITS Pilani, India|   Maharashtra|   Mumbai|      264|     1916|            15|   105|    4|   1465|           590|
| 2416560|         titu1994|                null|          null|     null|       57|     1903|            17|     7| null|   1649|           198|
|  269639|         kirang89|     WalletKit, Inc.|    Tamil Nadu|     null|      288|     1874|            22|    34|    3|    973|            59|
|  956749|           mayuur|                null|       Gujarat|Ahmadabad|       88|     1861|             5|     4| null|    103|             1|
| 4612622|     ManrajGrover|Practo Technologi...|     Karnataka|Bengaluru|      181|     1831|            20|   214|    3|   2370|           218|
| 1305514|            jpuri|              Humble|         Delhi|New Delhi|       33|     1761|            13|   104|    2|   2569|          1110|
| 3254200|        arvindr21|    The IoT Suitcase|Andhra Pradesh|Hyderabad|      669|     1757|            78|    37|    1|   1290|            86|
|  972811|         amitkaps|            amitkaps|     Karnataka|Bengaluru|       64|     1745|            12|     7| null|   1110|            73|
| 5958931|        vipulasri|                null|         Delhi|New Delhi|       55|     1691|             2|    73| null|    142|            22|
| 3889952|       ganapativs|              Tracxn|     Karnataka|Bengaluru|       14|     1671|             6|    14| null|   1159|            53|
+--------+-----------------+--------------------+--------------+---------+---------+---------+--------------+------+-----+-------+--------------+
only showing top 50 rows

In [35]:
users_more = utils.read_csv(spark, "hdfs:/users_more.csv")
users = utils.read_csv(spark, "hdfs:/users.csv")

users = (
    users
    .withColumnRenamed("id", "user_id")
#     .select("user_id", "login", "company", "state", "city")
)

users_more = (
    users_more
#     .select("user_id", "followers", "has_stars", "contributes_to", "issues", "pulls", "commits", "commits_others")
)

res = (
    users
    .join(users_more, "user_id", "left")
)

res.write.csv(
    "hdfs:/users_with_more",
    nullValue="\\N"
)

### Commits Punchcard for top users

In [36]:
commits = utils.read_csv(spark, "hdfs:/commits_new.csv")
projects = utils.read_csv(spark, "hdfs:/projects_new.csv")

# top_users = [5203, 896, 376498, 6240, 1779, 9236, 1570, 3871, 1736, 13009, 24452, 616741, 2468643, 2427, 81423, 796, 10005, 417948, 2016667, 1954]
jamians = [1432224, 5107602, 4007006, 6145009, 2859386, 4925305, 2549876]

res = (
    commits
    .where(
        (commits.created_at.isNotNull())
#         & (commits.author_id.isin(top_users))
        & (commits.author_id.isin(jamians))
    )
    .select(
        "author_id",
        F.date_format('created_at', 'E').alias('day'),
        F.hour('created_at').alias('hour')
    )
   .groupBy(
    'author_id',
    'day',
    'hour'
   )
   .count()
   .withColumnRenamed("count", "commits")
#    .withColumnRenamed("author_id", "user_id")
)

res.write.json(
    "hdfs:/jamians_commit_punchcard"
)

### Commits Punchcard for EVERYONE!

In [8]:
res = (
    commits
    .where(
        (commits.created_at.isNotNull())
    )
    .select(
        F.date_format('created_at', 'E').alias('day'),
        F.hour('created_at').alias('hour')
    )
   .groupBy(
    'day',
    'hour'
   )
   .count()
   .withColumnRenamed("count", "commits")
)

res.write.json(
    "hdfs:/commit_punchcard"
)

### Projects (More Data)

In [14]:
projects =  utils.read_csv(spark, "hdfs:/projects_new.csv")
stars = utils.read_csv(spark, "hdfs:/watchers.csv")
issues = utils.read_csv(spark, "hdfs:/issues.csv")

pcommits = utils.read_csv(spark, "hdfs:/project_commit_count.csv")
pcommits_others = utils.read_csv(spark, "hdfs:/project_commit_others_count.csv")

members = utils.read_csv(spark, "hdfs:/project_members_new.csv")

# Find stars on a repo
pstars = (
    stars
    .groupby("repo_id")
    .count()
    .withColumnRenamed("count", "stars")
    .withColumnRenamed("repo_id", "project_id")
)

# Find forks of a repo
pforks = (
    projects
    .where(projects.forked_from.isNotNull())
    .groupby("forked_from")
    .count()
    .withColumnRenamed("count", "forks")
    .withColumnRenamed("forked_from", "project_id")
)

# Find total issues on a repo
pissues = (
    issues
    .where(issues.pull_request_id.isNull())
    .groupby("repo_id")
    .count()
    .withColumnRenamed("count", "issues")
    .withColumnRenamed("repo_id", "project_id")
)

# Find pull requests on a repo
ppullreqs = (
    issues
    .where(issues.pull_request_id.isNotNull())
    .groupby("repo_id")
    .count()
    .withColumnRenamed("count", "pull_requests")
    .withColumnRenamed("repo_id", "project_id")
)

# Find members of a repo
pmembers = (
    members
    .groupby("project_id")
    .count()
    .withColumnRenamed("count", "contributors")
)

# Join Data
pmore = (
    pstars
    .join(pforks, "project_id", "full")
    .join(pmembers, "project_id", "full")
    .join(pissues, "project_id", "full")
    .join(ppullreqs, "project_id", "full")
    .join(pcommits, "project_id", "full")
    .join(pcommits_others, "project_id", "full")
)

# pmore.show()

pmore.write.csv(
    "hdfs:/projects_more",
    mode="overwrite",
    nullValue="\\N"
)

### Users (More Data)

In [18]:
issues = utils.read_csv(spark, "hdfs:/issues.csv")
members = utils.read_csv(spark, "hdfs:/project_members_new.csv")

user_more = utils.read_csv(spark, "hdfs:/user_more.csv")

ucommits = utils.read_csv(spark, "hdfs:/user_commit_count.csv")
ucommits_others = utils.read_csv(spark, "hdfs:/user_commit_others_count.csv")

projects = utils.read_csv(spark, "hdfs:/projects_new.csv")
projects_more = utils.read_csv(spark, "hdfs:/projects_more")

projects.createOrReplaceTempView("projects")
projects_more.createOrReplaceTempView("projects_more")

# Find total stars that a users repos have recieved
q = """
    SELECT P.owner_id as user_id, sum(M.stars) as stars_on_repos
    FROM projects as P, projects_more as M
    WHERE P.id = M.project_id
    GROUP BY P.owner_id
"""

ustars = spark.sql(q)

# Find total repos a user is members of
umembers = (
    members
    .groupby("user_id")
    .count()
    .withColumnRenamed("count", "members_of_repos")
)


# Find total issues by user
uissues = (
    issues
    .where(issues.pull_request_id.isNull())
    .groupby("reporter_id")
    .count()
    .withColumnRenamed("count", "issues")
    .withColumnRenamed("reporter_id", "user_id")
)

# Find pull requests by user
upullreqs = (
    issues
    .where(issues.pull_request_id.isNotNull())
    .groupby("reporter_id")
    .count()
    .withColumnRenamed("count", "pull_requests")
    .withColumnRenamed("reporter_id", "user_id")
)

# Join Data
umore = (
    user_more
    .join(ustars, "user_id", "full")
    .join(umembers, "user_id", "full")
    .join(uissues, "user_id", "full")
    .join(upullreqs, "user_id", "full")
    .join(ucommits, "user_id", "full")
    .join(ucommits_others, "user_id", "full")
)

umore.write.csv(
    "hdfs:/users_most",
    mode="overwrite",
    nullValue="\\N"
)

### Stars, Followers of Top Corporates

In [11]:

top_orgs = {
    "Microsoft": 8071,
    "IBM": 2804,
    "Google": 2725,
    "Red Hat": 1669,
    "Intel": 1027,
    "ThoughtWorks": 937,
    "Facebook": 925,
    "Esri": 888,
    "Tencent": 818,
    "Oracle": 672,
    "Accenture": 656,
    "Baidu": 552,
    "Amazon": 549,
    "EPAM Systems": 519,
    "Yandex": 490,
    "Capgemini": 488,
    "TCS": 475,
    "Cisco": 470,
    "Alibaba": 461,
    "Mozilla": 457,

}

top_orgs_indian = {
    "TCS": 261,
    "Microsoft": 227,
    "Accenture": 181,
    "Tata Consultancy Services": 169,
    "ThoughtWorks": 163,
    "Cognizant Technology Solutions": 163,
    "Infosys": 162,
    "Flipkart": 154,
    "IBM": 149,
    "Cognizant": 125,
    "Sapient": 119,
    "Capgemini": 109,
    "Freshdesk": 100,
    "Oracle": 99,
    "Practo": 80,
    "Wipro Technologies": 79,
    "Tech Mahindra": 72,
    "Amazon": 71,
    "Red Hat": 68,
    "Thoughtworks": 66,
}

# top_corps = list(top_orgs.keys())
top_corps = list(top_orgs_indian.keys())

MSFT = ["Microsoft Corporation", "Microsoft"]

user_more = utils.read_csv(spark, "hdfs:/users_with_more.csv")

users_of_top = (
    user_more
    
    .where(user_more.country_code == "in")
    
    .select("company", "has_stars", "followers",
            F.when(user_more.company.isin(MSFT), "Microsoft")
             .otherwise(user_more.company).name("corporate")
    )
)

users_of_top = (
    users_of_top
    .where(users_of_top.corporate.isin(top_corps))
)

users_of_top.createOrReplaceTempView("users_top")

q = """

    SELECT corporate, count(*) as employees, 
           sum(`has_stars`) as total_stars, 
           sum(`followers`) as total_followers, 
           ceiling(avg(has_stars)) as stars_per_employee, 
           ceiling(avg(followers)) as followers_per_employee
           
    FROM users_top as ut
    GROUP BY corporate
    
    ORDER BY followers_per_employee DESC
"""

res = spark.sql(q)

res.show(20, truncate=False)

+------------------------------+---------+-----------+---------------+------------------+----------------------+
|corporate                     |employees|total_stars|total_followers|stars_per_employee|followers_per_employee|
+------------------------------+---------+-----------+---------------+------------------+----------------------+
|Red Hat                       |69       |1690       |1058           |41                |25                    |
|Flipkart                      |156      |1078       |582            |27                |11                    |
|ThoughtWorks                  |163      |2536       |1018           |32                |10                    |
|Microsoft                     |235      |892        |1102           |14                |10                    |
|IBM                           |157      |1117       |431            |33                |9                     |
|Practo                        |82       |318        |209            |14                |6                     |
|Thoughtworks                  |67       |266        |202            |9                 |6                     |
|Freshdesk                     |101      |355        |255            |14                |6                     |
|Amazon                        |73       |274        |234            |9                 |6                     |
|Sapient                       |120      |74         |119            |6                 |5                     |
|Tata Consultancy Services     |173      |371        |189            |13                |5                     |
|Oracle                        |108      |75         |150            |3                 |4                     |
|Cognizant Technology Solutions|166      |406        |212            |11                |4                     |
|Tech Mahindra                 |73       |91         |65             |6                 |4                     |
|TCS                           |261      |217        |186            |7                 |4                     |
|Cognizant                     |132      |144        |141            |6                 |4                     |
|Infosys                       |164      |88         |95             |4                 |3                     |
|Accenture                     |184      |111        |99             |5                 |3                     |
|Wipro Technologies            |84       |71         |57             |5                 |3                     |
|Capgemini                     |113      |141        |83             |11                |3                     |
+------------------------------+---------+-----------+---------------+------------------+----------------------+

### %age Community Particitpation

In [29]:
pm = utils.read_csv(spark, "hdfs:/projects_more.csv")
proj = utils.read_csv(spark, "hdfs:/projects_new.csv")

pm = (
#     pm
    proj.join(pm, proj.id == pm.project_id, "left")
    .na.fill({'commits': 1, 'commits_by_others': 0})
)

pm.createOrReplaceTempView("projects_more")

q = """
    SELECT ceiling( 100 * (commits_by_others) / commits ) as community_part, count(*) as num_repos
    FROM projects_more
    GROUP BY community_part
    ORDER BY community_part
"""

# pm.limit(50).show(50)

res = spark.sql(q)
res.show(100)

+--------------+---------+
|community_part|num_repos|
+--------------+---------+
|             0| 51332178|
|             1|    43473|
|             2|    75228|
|             3|    78215|
|             4|    85897|
|             5|    82493|
|             6|    73771|
|             7|    70892|
|             8|    80642|
|             9|    58070|
|            10|   108058|
|            11|    28597|
|            12|    82883|
|            13|    79445|
|            14|    37588|
|            15|    98982|
|            16|    38888|
|            17|   114522|
|            18|    26443|
|            19|    44038|
|            20|   159205|
|            21|    14105|
|            22|    30787|
|            23|    49053|
|            24|    35213|
|            25|   222877|
|            26|    11828|
|            27|    26534|
|            28|    35727|
|            29|    62526|
|            30|    41438|
|            31|    23168|
|            32|    26018|
|            33|    12930|
|            34|   356358|
|            35|    20192|
|            36|    25772|
|            37|    29525|
|            38|    45314|
|            39|    27286|
|            40|   113932|
|            41|    13294|
|            42|    28368|
|            43|    57700|
|            44|    20831|
|            45|    37520|
|            46|    26954|
|            47|    26997|
|            48|    24817|
|            49|    14910|
|            50|   874552|
|            51|     5764|
|            52|    16580|
|            53|    21913|
|            54|    26343|
|            55|    29124|
|            56|    33582|
|            57|    17253|
|            58|    53747|
|            59|    25407|
|            60|   105616|
|            61|    11555|
|            62|    24208|
|            63|    39449|
|            64|    26762|
|            65|    22980|
|            66|    13784|
|            67|   415695|
|            68|    12558|
|            69|    19112|
|            70|    35840|
|            71|    15293|
|            72|    52905|
|            73|    25507|
|            74|    19669|
|            75|   221661|
|            76|     9751|
|            77|    23610|
|            78|    34937|
|            79|    20801|
|            80|   145942|
|            81|    11416|
|            82|    29728|
|            83|    16654|
|            84|   103803|
|            85|    25904|
|            86|    78120|
|            87|    22005|
|            88|    65801|
|            89|    58046|
|            90|    49544|
|            91|    41911|
|            92|    39473|
|            93|    48456|
|            94|    41762|
|            95|    50524|
|            96|    44361|
|            97|    39478|
|            98|    38937|
|            99|    33912|
+--------------+---------+
only showing top 100 rows

### Counts

In [31]:
pm = utils.read_csv(spark, "hdfs:/projects_more.csv")
proj = utils.read_csv(spark, "hdfs:/projects_new.csv")

pm = (
    proj.join(pm, proj.id == pm.project_id, "left")
    .na.fill({'commits': 0, 'commits_by_others': 0})
)

pm.where(pm.commits == 0).count()

25922057

### Lifespan of Projects (by last-first commit)

In [40]:
cm = utils.read_csv(spark, "hdfs:/commits_new.csv")
cm.createOrReplaceTempView("commits")

q = """
    SELECT project_id,
           min(created_at) as first,
           max(created_at) as last
    FROM commits
    WHERE
      created_at < CURRENT_TIMESTAMP
      AND project_id IS NOT NULL
    GROUP BY project_id
"""

res = spark.sql(q)

res = (
    res
    .withColumn('duration', F.datediff(F.col("last"), F.col("first")))
    .select("project_id", "duration")
    .groupby("duration")
    .count()
    .sort(F.desc("duration"))
)

res.write.json(
    "hdfs:/lifespan_commits_1.json",
    mode="overwrite",
#     nullValue="\\N"
)

### Top Languages

In [42]:
    
pl = utils.read_csv(spark, "hdfs:/project_languages.csv")

res1 = (
    pl
    .select("project_id", "language", "bytes", F.year("created_at").alias("year"))
    .groupby("project_id", "language", "year")
    .max("bytes")
)

res1.show(20)

res2 = (
    res1
    .groupby("language", "year")
    .sum("bytes")
    .sort("bytes", False)
)

res2.show(20)

+----------+------------+----+----------+
|project_id|    language|year|max(bytes)|
+----------+------------+----+----------+
|  13496571|           d|2015|      3759|
|   5999634|        perl|2015|    465114|
|  11309521|      python|2015|      7790|
|  16054889|       shell|2015|       478|
|  22350750|         css|2015|       808|
|  15363845|      prolog|2015|       199|
|   6030637|       shell|2015|        64|
|  10750668|         c++|2015|     33000|
|  25330477|         css|2015|       122|
|   4650978|        java|2015|    140600|
|  19559892|         css|2015|      1717|
|  18461008|        xslt|2015|    220483|
|  21784276|         css|2015|      1934|
|  21949925|        viml|2015|     16714|
|   2529417|coffeescript|2015|     45230|
|  16543457|        haxe|2015|     11075|
|  19814407|      python|2015|    479806|
|  10522756|       shell|2015|       126|
|  14547901|        java|2015|      2507|
|  14548067|  javascript|2015|      3386|
+----------+------------+----+----------+
only showing top 20 rows

AnalysisException: 'Cannot resolve column name "bytes" among (project_id, language, year, max(bytes));'